{% extends 'base.html.twig' %}

{% block body %}

<section class="row header-breadcrumb">
    <div class="container">
            <div class="row m0 page-cover">
                <h2 class="page-cover-tittle">A propos de nous</h2>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">A propos de nous</li>
            </ol>
            </div>
        </div>
</section>

<!--services-1-->
<section class="row sectpad services">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 sidebar">
                <ul class="nav nav-tabs" role="tablist">
                {% for compet in competences %}
                    <li role="presentation">
                        <a href="#{{compet.id}}" aria-controls="{{compet.id}}" role="tab" data-toggle="tab">
                            {{compet.nom}}
                        </a>
                    </li>
                    {% endfor %}
                    {# <li role="presentation" class="active">
                        <a href="#content-2" aria-controls="content-2" role="tab" data-toggle="tab">
                           Wood Flooring
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#content-3" aria-controls="content-3" role="tab" data-toggle="tab">
                            Office Furniture
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#content-4" aria-controls="content-4" role="tab" data-toggle="tab">
                            Kitchen modeling
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#content-5" aria-controls="content-5" role="tab" data-toggle="tab">
                            Home furniture
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#content-6" aria-controls="content-6" role="tab" data-toggle="tab">
                            Office wooden interior
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#content-7" aria-controls="content-7" role="tab" data-toggle="tab">
                            HOme furniture
                       </a>
                    </li>
                    <li role="presentation">
                        <a href="#content-8" aria-controls="content-8" role="tab" data-toggle="tab">
                            Door and windows
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#content-9" aria-controls="content-9" role="tab" data-toggle="tab">
                            showroom furniture
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#content-10" aria-controls="content-10" role="tab" data-toggle="tab">
                            wooden self & racks 
                        </a>
                    </li> #}
                </ul> 
                <div class="row m0 downloads">
                    <h4>DOWNLOADS</h4> 
                    <div class="dload">
                        <div class="dlbg">
                            <a href="#">Our Brochure PDF</a>
                            <a href="#"><i class="fa fa-file-pdf-o"></i></a>
                        </div>
                    </div>
                    <div class="dload">
                        <div class="dlbg">
                            <a href="#" class="recent">Our Recent Project</a>
                            <a href="#"><i class="icon icon-Download"></i></a>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="col-sm-9 tab_pages">
                <div class="tab-content">
            {% for compet in competences %}
                {% if compet == competences[0] %}
                    <div role="tabpanel" class="tab-pane active" id="{{compet.id}}">
                    
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                    
                                        <h2>{{compet.nom}}</h2> 
                                    </div>
                                    <h3>{{compet.titre}}</h3>
                                    <p style = "overflow: hidden;">{{compet.Description}}</p><br>
                                    <p style = "overflow: hidden;">{{compet.Description}}</p> 
                                </div>
                                <div class="cont_right col-sm-4">
                                    {# <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt=""> #}
                                    {% media compet.image, 'big' with {'style': 'width:270px; height:205px'} %}                                
                                    {# <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">  #}
                                    {% media compet.image1, 'big' with {'style': 'width:270px; height:205px'} %}
                                </div>
                            </div>
                             {# <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">  #}
                            {% media compet.image2, 'big' with {'style': 'width:800px; height:260px'} %}                                
                            <h3>{{compet.titre}}</h3>
                            <p style = "overflow: hidden;">{{compet.Description }}</p><br>

                            <p style = "overflow: hidden;">{{compet.Description }}</p>
                            
                        </div>
                        
                    </div> 
                    {% else %}

                        <div role="tabpanel" class="tab-pane" id="{{compet.id}}">
                    
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                    
                                        <h2>{{compet.nom}}</h2> 
                                    </div>
                                    <h3>{{compet.titre}}</h3>
                                    <p style = "overflow: hidden;">{{compet.Description }}</p><br>
                                    <p style = "overflow: hidden;">{{compet.Description }}</p> 
                                </div>
                                <div class="cont_right col-sm-4">
                                    {# <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt=""> #}
                                    {% media compet.image, 'big' with {'style': 'width:270px; height:205px'} %}                                
                                    {# <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">  #}
                                    {% media compet.image1, 'big' with {'style': 'width:270px; height:205px'} %}
                                </div>
                            </div>
                             {# <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">  #}
                            {% media compet.image2, 'big' with {'style': 'width:800px; height:260px'} %}                                
                            <h3>{{compet.titre}}</h3>
                            <p style = "overflow: hidden;">{{compet.Description }}</p><br>

                            <p style = "overflow: hidden;">{{compet.Description }}</p>
                            
                        </div>
                        
                    </div> 

                    {% endif %}
                    {% endfor %}
                    {# <div role="tabpanel" class="tab-pane  active" id="content-2">
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                        <h2>Wood Flooring</h2> 
                                    </div>
                                    <h3>Differnet types of ply for floor</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>                                       <br>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                </div>
                                <div class="cont_right col-sm-4">
                                    <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt="">                                
                                    <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">                                
                            <h3>About Indoor Furniture</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p><br>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content-3">
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                        <h2>Office Furniture</h2> 
                                    </div>
                                    <h3>Differnet types of ply for floor</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>                                       <br>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                </div>
                                <div class="cont_right col-sm-4">
                                    <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt="">                                
                                    <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">                                
                            <h3>About Indoor Furniture</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p><br>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content-4">
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                        <h2>Kitchen modeling</h2> 
                                    </div>
                                    <h3>Differnet types of ply for floor</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>                                       <br>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                </div>
                                <div class="cont_right col-sm-4">
                                    <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt="">                                
                                    <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">                                
                            <h3>About Indoor Furniture</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p><br>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content-5">
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                        <h2>Home furniture</h2> 
                                    </div>
                                    <h3>Differnet types of ply for floor</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>                                       <br>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                </div>
                                <div class="cont_right col-sm-4">
                                    <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt="">                                
                                    <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">                                
                            <h3>About Indoor Furniture</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p><br>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content-6">
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                        <h2>Office wooden interior</h2> 
                                    </div>
                                    <h3>Differnet types of ply for floor</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>                                       <br>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                </div>
                                <div class="cont_right col-sm-4">
                                    <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt="">                                
                                    <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">                                
                            <h3>About Indoor Furniture</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p><br>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content-7">
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                        <h2> HOme furniture</h2> 
                                    </div>
                                    <h3>Differnet types of ply for floor</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>                                       <br>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                </div>
                                <div class="cont_right col-sm-4">
                                    <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt="">                                
                                    <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">                                
                            <h3>About Indoor Furniture</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p><br>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content-8">
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                        <h2>Door and windows</h2> 
                                    </div>
                                    <h3>Differnet types of ply for floor</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>                                       <br>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                </div>
                                <div class="cont_right col-sm-4">
                                    <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt="">                                
                                    <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">                                
                            <h3>About Indoor Furniture</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p><br>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content-9">
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                        <h2>showroom furniture</h2> 
                                    </div>
                                    <h3>Differnet types of ply for floor</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>                                       <br>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                </div>
                                <div class="cont_right col-sm-4">
                                    <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt="">                                
                                    <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">                                
                            <h3>About Indoor Furniture</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p><br>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                        </div> 
                    </div>
                    <div role="tabpanel" class="tab-pane" id="content-10">
                        <div class="row m0 tab_inn_cont_1 ">
                            <div class="tab_inn_cont_2 row">
                                <div class="cont_left col-sm-8">
                                    <div class="row m0 section_header color">
                                        <h2>wooden self & racks </h2> 
                                    </div>
                                    <h3>Differnet types of ply for floor</h3>
                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>                                       <br>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                                </div>
                                <div class="cont_right col-sm-4">
                                    <img src="{{ asset('assets/images/services_2/1.jpg') }}" alt="">                                
                                    <img src="{{ asset('assets/images/services_2/2.jpg') }}" alt="">
                                </div>
                            </div>
                            <img src="{{ asset('assets/images/services_2/3.jpg') }}" alt="">                                
                            <h3>About Indoor Furniture</h3>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p><br>

                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem.</p>
                        </div> 
                    </div>
                </div>
            </div>                     
        </div>
    </div> #}
</section>

{% endblock %}